/* reset styles */
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
}
body {
  background-color: #2c2c2c;
  font-size: 16px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  gap: 2rem;
}
.text-content {
  /* flex: 1; */
  /* max-width: 450px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.text-content h1 {
  font-size: 3rem;
  
}
.text-pink {
  color: #fec3c7;
}
.text-blue {
  color: #99d7f2;
}
.text-tale {
  color: #8ae9e5;
}
.text-content p{
  font-size: 1rem;
  text-align: justify;
  color: white;
}
.text-content button{
  border-radius: 12px;
  padding: .7rem 1.4rem;
  font-size: 1.5rem;
  font-weight: 700;
  align-self: baseline;
}
/* image-grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /* grid-template-rows:300px; */
  gap: 1rem;
}
.image-grid div{
  height: 200px;
}
.image-grid img{
  border-radius: 12px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* 540px breakpoint */
@media (min-width:540px){
  /* wrapper */
  .wrapper{
    padding: 2rem;
    gap: 4rem;
  }
/* image-text */
.text-content p{
  max-width: 400px;
}
  /* image-grid */
  .image-grid{
    grid-template-columns: repeat(2,1fr);
  }
}

/* 920px breakpoint */
@media (min-width:920px){
    .wrapper{
      flex-direction: row;

    }
    .text-content,.image-grid {
      width: 47%;


    }
    .text-content h1{
      font-size: 4rem;
    }
    .text-content{
      gap: 2rem;
    }
    .image-grid{
      grid-template-columns: repeat(4,1fr);

    }
    .image-grid div{
      height: 100px;
    }
    
}
